  .brandText{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    margin-right: 50px;
    text-decoration: none;
  }
  
  .navlinkColor{
    color:  #34495e;
    margin-right: 40px;
  }
  
  .navlinkColor:hover{
    color:white;
    background-color: #1f618d;
  }